@function multiple-box-shadow($n) {
    $value: "#{random(700)}vh #{random(100)}vh #FFF";

    @for $i from 2 through $n {
        $value: "#{$value} , #{random(700)}vh #{random(100)}vh #FFF";
    }

    @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
    }
}

.stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 70s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

.stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 100s linear infinite;

    &:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    15% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    95% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    15% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }
}

@keyframes progress {
    0% {
        width: 0%;
    }

    70% {
        width: 100%;
    }
}